In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.appName("MyApp").getOrCreate()

In [4]:
df = spark.read.csv("users.csv", header=True, inferSchema=True)

In [5]:
df.show()

+-------+-----+---+------+
|user_id| name|age|  city|
+-------+-----+---+------+
|      1| Анна| 25|Москва|
|      2| Иван| 30|   СПБ|
|      3|Мария| 22|Москва|
|      4| Петр| 35|Казань|
|      5|Елена| 28|   СПБ|
+-------+-----+---+------+

In [6]:
df2 = df.createOrReplaceTempView("users")

In [7]:
result = spark.sql("select * from users").show()

+-------+-----+---+------+
|user_id| name|age|  city|
+-------+-----+---+------+
|      1| Анна| 25|Москва|
|      2| Иван| 30|   СПБ|
|      3|Мария| 22|Москва|
|      4| Петр| 35|Казань|
|      5|Елена| 28|   СПБ|
+-------+-----+---+------+

In [8]:
result2 = spark.sql(
    """SELECT name, age
    FROM users
    WHERE name LIKE "А%" OR name LIKE "М%"
    AND age > 20"""
)

In [9]:
result2.show()

+-----+---+
| name|age|
+-----+---+
| Анна| 25|
|Мария| 22|
+-----+---+